.profileContainer {
  max-width: 600px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #6a1b9a;
  color: #fff;
  padding: 10px 20px;
}

.logo {
  font-size: 1.5em;
  font-weight: bold;
}

.profileIcon img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.mainContent {
  padding: 20px;
  flex: 1;
}

.profileInfo {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.profileDetailsContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.email {
  font-weight: bold;
}

.exchangeInfo {
  color: #777;
}

.transactionHistory {
  margin-top: 20px;
}

.transactionHistory h2 {
  margin: 0;
  font-size: 1.2em;
}

.noTransactions {
  text-align: center;
  margin-top: 20px;
}

.noTransactions img {
  width: 100px;
  height: auto;
}

.noTransactions p {
  color: #777;
  margin-top: 10px;
}

@media (max-width: 600px) {
  .profileContainer {
    margin: 10px;
    box-shadow: none;
    border-radius: 0;
  }

  .header {
    flex-direction: column;
    text-align: center;
  }

  .logo {
    margin-bottom: 10px;
  }

  .profileIcon img {
    width: 30px;
    height: 30px;
  }

  .profileInfo {
    flex-direction: column;
    align-items: flex-start;
  }

  .profileDetailsContainer {
    align-items: flex-start;
  }

  .mainContent {
    padding: 10px;
  }

  .email {
    font-size: 1em;
  }

  .exchangeInfo {
    font-size: 0.9em;
  }

  .transactionHistory h2 {
    font-size: 1em;
  }

  .noTransactions img {
    width: 80px;
  }
}
