.captchaContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0;
}

.captcha {
  display: flex;
  align-items: center;
  font-size: 24px;
  color: black;
  font-weight: bold;
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
}

.number, .operator {
  margin: 0 5px;
}

.optionsContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.optionButton {
  margin: 0 10px;
  padding: 10px 20px;
  font-size: 18px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.optionButton:hover {
  background-color: #f0f0f0;
}

.optionButton.correct {
  background-color: #28a745;
  color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.optionButton.incorrect {
  background-color: #dc3545;
  color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.btnCaptcha {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.btnCaptcha:disabled {
  background-color: #ddd;
  cursor: not-allowed;
}
