.sitemap-container {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .sitemap-container h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2rem;
  }
  
  .sitemap-grid {
    display: flex;
    flex-wrap: wrap;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
  }
  
  .sitemap-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
  }
  
  .sitemap-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .sitemap-card a {
    text-decoration: none;
    color: #007bff;
    font-size: 1.2rem;
  }
  
  .sitemap-card a:hover {
    text-decoration: underline;
  }
  
  @media (max-width: 600px) {
    .sitemap-container {
        
      padding: 10px;
    }
    .sitemap-grid{
        display: flex;
        flex-direction: column;
    }
  
    .sitemap-container h2 {
      font-size: 1.5rem;
    }
  
    .sitemap-card {
      padding: 15px;
    }
  
    .sitemap-card a {
      font-size: 1rem;
    }
  }
  