/* index.css */

/* index.css */
body {
  background: url('https://www.addevice.io/storage/ckeditor/uploads/images/6390774fc068f_guide.on.how.to.start.a.cryptocurrency.exchange.png') no-repeat center center fixed;
  background-size: cover;
  color: #fff;
  font-family: 'Roboto', Arial, sans-serif;
  margin: 0;
  padding: 0;
  backdrop-filter: blur(8px); /* Размытие фона */
  /* Убираем скролл, чтобы не показывать возможные краи изображения */
}

/* Адаптивные стили для фона */
@media (max-width: 768px) {
  body {
    background-position: top center; /* Центрируем изображение по вертикали */
  }
}

@media (max-width: 480px) {
  body {
    background-size: auto 100%; /* Увеличиваем высоту фона для небольших экранов */
  }
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Убираем стрелки в input[type="number"] */
input[type="number"] {
  -moz-appearance: textfield; /* Для Firefox */
  appearance: textfield; /* Для современных браузеров */
}

/* Убираем стрелки в Safari */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Убираем стрелки в Edge и Chrome */
input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}
